$red: #ff0000;
$green: #00ff00;
$blue: #00aeff;
$yellow: #ffff00;
$magenta: #ff00ff;

$gutter: 60px;
$gutter-mobile: 20px;
$grid: 5px;

$mobile: 800px;
$tablet: 1180px;
$laptop: 1280px;
$desktop: 1920px;

$colorBackground: #000;

$cursorPointer:
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Ccircle cx='11' cy='11' r='11' fill='%23fff'/%3E%3Ccircle cx='11' cy='11' r='9.43' fill='%23010101'/%3E%3C/svg%3E")
    11 11,
  auto;

@mixin mobile-only {
  @media screen and (max-width: ($mobile - 1px)) {
    @content;
  }
}
@mixin mobile-up {
  @media screen and (min-width: $mobile) {
    @content;
  }
}
@mixin tablet-landscape-only {
  @media screen and (min-width: $mobile) and (max-width: ($tablet)) and (orientation: landscape) {
    @content;
  }
}
@mixin laptop-up {
  @media screen and (min-width: $laptop) {
    @content;
  }
}
@mixin desktop-up {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin link-hover-effect {
  &::before {
    transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    background-color: white;
    transform: scaleX(1);
    transform-origin: left;
  }

  @media (hover: hover) {
    &:hover::before {
      transform: scaleX(0);
    }
  }
}
