@import '../../../styles/variables.scss';

.posts {
  ::selection {
    background: transparent;
    color: $yellow;
  }

  .header {
    color: $yellow;
  }

  .postLink {
    width: max-content;
    border-bottom: 1px solid transparent;
    transition: all 0.25s ease-in-out;
    font-size: 1.5rem;

    &:hover {
      color: $yellow;
      // border-color: $yellow;
    }
  }

  .date {
    margin-top: $gutter;
    margin-bottom: 0.8em;
    font-size: 0.8rem;
  }
}
