@import "../../../styles/variables";

.post {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;

  .title {
    margin: $gutter 0 10px;
    color: $yellow
  }

  .date {
    margin: calc($gutter/2) 0 $gutter;
    font-size: 0.8rem;
    color: $yellow;
    padding-top: 10px;
    border-top: 1px dotted $yellow;
  }

  .content {
    margin-bottom: $gutter;
    padding-bottom: $gutter;
    border-bottom: 1px dotted white;
  }

  iframe {
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 7px;
    overflow: hidden;
    margin: 20px 0;
  }

  figure {
    margin: 0;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 7px;
      border: 1px solid black;
    }
  }
}