@font-face {
  font-family: "Rhode";
  src: url("../asset/fonts/Rhode-MediumWide.woff2") format("woff2"),
    url("../asset/fonts/Rhode-MediumWide.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(94, 94, 94, 0.407) rgba(94, 94, 94, 0.407);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(94, 94, 94, 0.407);
  border-radius: 0px;
  border: none;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100%;
}

body {
  background-color: $colorBackground;
  color: white;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  position: relative;
  height: 100%;
}

a {
  position: relative;
  color: #fff;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: #e70d2f;
    bottom: -2px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  &.underline {
    &::before {
      transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      background-color: white;
      transform: scaleX(1);
      transform-origin: left;
    }
    &:hover::before {
      transform: scaleX(0);
    }
  }

  &:not(.btn, .underline):hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

.btn {
  border: 1px solid white;
  display: inline-block;
  padding: 10px;
  transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  border-radius: 2px;

  &:hover {
    color: black;
    background: white;
  }
}

h1,
h2,
h3 {
  font-family: "Rhode", sans-serif;
  font-weight: normal;
  margin: 0;
}

@media screen and (max-width: $mobile) {
  h1 {
    font-size: 1.8em;
  }
}

p {
  line-height: 150%;
  letter-spacing: 2px;

  @media screen and (max-width: $mobile) {
    font-size: 80%;
  }
}

.wrapper {
  position: relative;
  padding: 240px ($gutter * 2) 200px $gutter;
  width: 75%;
  max-width: 960px;

  &.intro {
    pointer-events: none;
  }

  @media screen and (max-width: $mobile) {
    padding: 120px 20px 100px 20px;
    width: 100%;
  }
}

::selection {
  color: black;
  background: white;
}

.loadingPage {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.loadingBackground {
  position: absolute;
  color: white;
  top: $gutter;
  left: $gutter;

  @media screen and (max-width: $mobile) {
    top: $gutter-mobile;
    left: $gutter-mobile;
  }
}
