@import 'variables';

* {
  box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
* {
  scrollbar-width: 10px;
  scrollbar-color: rgba(94, 94, 94, 0.407) rgba(94, 94, 94, 0.407);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(94, 94, 94, 0.407);
  border-radius: 0px;
  border: none;
}

html,
body {
  margin: 0;
  height: 100%;
}

a:hover {
  cursor: $cursorPointer;
}

body {
  background-color: $colorBackground;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='26' fill='none' viewBox='0 0 24 26'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.69 2.69a2.357 2.357 0 0 1 2.495-.54L21.47 8.632a2.357 2.357 0 0 1-.255 4.494l-7.271 1.818-1.818 7.27a2.357 2.357 0 0 1-4.494.256L1.15 5.185a2.357 2.357 0 0 1 .54-2.495Z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.633 3.622A.786.786 0 0 0 2.62 4.633L9.103 21.92a.786.786 0 0 0 1.498-.086l2.047-8.185 8.185-2.046a.785.785 0 0 0 .086-1.498L3.633 3.622Z' fill='%23010101'/%3E%3C/svg%3E"),
    auto;

  &.noscroll {
    position: sticky;
    overflow: hidden;
  }
}

a {
  position: relative;
  color: #fff;
  text-decoration: none;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  &.underline {
    &::before {
      transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      background-color: white;
      transform: scaleX(1);
      transform-origin: left;
    }
    @media (hover: hover) {
      &:hover::before {
        transform: scaleX(0);
      }
    }
  }

  @media (hover: hover) {
    &:not(.btn, .underline):hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
}

.btn {
  border: 2px solid white;
  display: inline-block;
  padding: 10px;
  transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  border-radius: 4px;
  cursor: $cursorPointer;

  @include mobile-only {
    font-size: 80%;
    padding: 8px;
  }

  &:hover {
    color: black;
    background: white;
  }
}

h1,
h2,
h3 {
  font-family: var(--rhode-font), sans-serif;
  font-weight: normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@include mobile-only {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.1em;
  }
}

li {
  margin-bottom: 1em;
}

p,
li {
  line-height: 175%;

  @include mobile-only {
    font-size: 80%;
  }
}

pre {
  margin: 0;
  padding: 20px;

  @include mobile-only {
    font-size: 10px !important;
    line-height: 1.4;
    padding: 10px;

    .wp-block-kevinbatdorf-code-block-pro {
      margin-right: $gutter-mobile;
    }
  }
}

.wrapper {
  position: relative;
  padding: 240px ($gutter * 2) 200px $gutter;
  width: 75%;
  max-width: 960px;
  background-color: rgba(0, 0, 0, 0.5);

  @include tablet-landscape-only {
    padding-top: 160px;
  }

  @media screen and (max-height: 768px) {
    padding-top: 120px;
  }

  @include desktop-up {
    margin: 0 auto;
  }

  @include mobile-only {
    padding: 120px 20px 100px 20px;
    width: 100%;
  }
}

.badge {
  pointer-events: none;
  font-family: var(--rhode-font), sans-serif;
  position: fixed;
  writing-mode: vertical-rl;
  right: $gutter;
  transform: translateY(-50%);
  font-size: 75%;
  letter-spacing: 1px;
  top: 50%;

  @include mobile-only {
    display: none;
  }
}

#header,
#footer {
  transition: opacity 0.25s;
}

.hidden {
  opacity: 0;
}

::selection {
  color: black;
  background: white;
}

.error {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  position: absolute;
  color: white;
  top: $gutter;
  left: $gutter;

  @include mobile-only {
    top: $gutter-mobile;
    left: $gutter-mobile;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}
