@font-face {
  font-family: "Rhode";
  src: url("../asset/fonts/Rhode-MediumWide.woff2") format("woff2"),
    url("../asset/fonts/Rhode-MediumWide.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: $colorBackground;
  color: white;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

#__next {
  position: relative;
  height: 100%;
}

a {
  position: relative;
  color: #FFF;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: #E70D2F;
    bottom: -2px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  &:not(.btn):hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

.btn {
  border: 1px solid white;
  display: inline-block;
  padding: 10px;
  transition: all 0.15s ease-in-out;
  border-radius: 2px;

  &:hover {
    color: black;
    background: white;
  }
}

h1,
h2,
h3 {
  font-family: "Rhode", sans-serif;
  font-weight: normal;
  margin: 0;


}

p {
  line-height: 150%;
  letter-spacing: 2px;

  @media screen and (max-width: $mobile) {
    font-size: 80%;
  }
}

.wrapper {
  position: relative;
  padding: 240px $gutter * 2 200px $gutter;
  max-width: 75%;

  @media screen and (max-width: $mobile) {
    padding: 120px 20px 60px 20px;
    max-width: 100%;
  }
}

.badge {
  font-family: 'Rhode', sans-serif;
  position: fixed;
  writing-mode: vertical-rl;
  right: $gutter;
  transform: translateY(-50%);
  font-size: 80%;
  letter-spacing: 1px;
  top: 50%;

  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.background {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -1;
}

header {
  position: fixed;
  top: $gutter;
  right: $gutter;

  @media screen and (max-width: $mobile) {
    top: $gutter-mobile;
    right: $gutter-mobile;
  }

  nav {
    font-family: "Rhode", sans-serif;
    font-size: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;

    .active {
      pointer-events: none;
      opacity: 0.2;
    }
  }

  a {
    display: block;
    margin-left: 20px;

    &:first-child {
      margin: 0;
    }
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba($colorBackground, 0), rgba($colorBackground, 0.9) 50%);
    width: 100%;
    height: 10em;
    z-index: -1;
  }

  .footer-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: $gutter;
    margin-right: $gutter;
    margin-bottom: $gutter;

    &:after {
      content: "";
      display: block;
      width: 90px;
      height: 1px;
      background: white;
      position: absolute;
      bottom: 0;
      right: 0;

      @media screen and (max-width: $mobile) {
        width: 1px;
        height: 90px;
      }
    }

    @media screen and (max-width: $mobile) {
      margin-left: $gutter-mobile;
      margin-right: $gutter-mobile;
      margin-bottom: $gutter-mobile;
    }
  }

  .links a {
    margin-right: 10px;

    @media screen and (max-width: $mobile) {
      font-size: 65%;
    }

    &:last-child {
      margin: 0;
    }
  }
}

::selection {
  background: red;
}