.background {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  transform: scale(1.0);
  animation: fadeInAnimation forwards cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s 1;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}