.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.footer :global {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .social {
    display: flex;

    a {
      display: inline-block;
      padding: 0 5px;
    }
  }

  .copyright {
    font-size: 50%;
    color: #aaaaaa;
    padding: 0 5px;
  }
}