.header {
  color: white;
}

.my-masonry-grid :global {
  margin-top: 80px;
  display: flex;
  margin-left: -30px;
  width: auto;

  .my-masonry-grid_column {
    padding-left: 30px;
    background-clip: padding-box;

    img {
      width: 100%;
      height: auto;
      cursor: pointer;
    }

    h3 {
      margin-top: 10px;
    }

    > div {
      margin-bottom: 30px;
    }
  }
}

.lightbox {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  z-index: 999;

  img {
    width: 90vw !important;
    height: auto;
  }
}
