.intro {
  @media screen and (max-width:$mobile) {
    margin-top: 10px;
  }

  h1, h2 {
    overflow: hidden;
    line-height: 1;

    span {
      animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s backwards;
      display: block;
    }
  }

  h2 {
    margin-top: 10px;
    font-size: 16px;
  }

  p {
    margin-top: 30px;
    max-width: 60%;

    @media screen and (max-width:$mobile) {
      max-width: 80%;
    }
  }

  pointer-events: none;
}

.btn {
  margin-top: 60px;
  pointer-events: all;

  @media screen and (max-width:$mobile) {
    margin-top: 20px;
    font-size: 80%;
  }
}

@keyframes reveal {
  0% {
    transform: translate(0,110%);
  }
  100% {
    transform: translate(0,0);
  }
}