.selfie {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $mobile) {
    margin-bottom: 60px;
  }

  .selfieWrapper {
    width: 300px;

    @media screen and (max-width: $mobile) {
      width: 50%;
      // margin: 30px 0;
    }
  }
}

.strengths {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;

  &:first-child {
    position: relative;
    padding-top: 60px;
    &:after {
      content:'';
      position:absolute;
      top: 0;
      right: 0;
      width: 60px;
      height: 1px;
      background: white;
    }
  }

  div:first-child {
    line-height: 200%;
    font-size: 80%;
  }

  .detail {
    width: 45%;
    line-height: 200%;

    @media screen and (max-width: $mobile) {
      font-size: 80%;
      width: 50%;
    }
  }
}

.btn {
  margin-top: 30px;
}