.background {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -1;
  animation: fadeInAnimation forwards ease 3s 1;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}