.header {
  color: #00FF00;
}

.subhead {
  margin-top: 30px;
}

.technology {
  position: relative;
  padding-top: 30px;
  &:before {
    position: absolute;
    top: 0;
    content:"";
    width: 60px;
    height: 1px;
    background: white;
  }
}

.technologyList {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 90%;


  li {
    display: inline-block;
    padding: 5px 7px;
    border: 1px solid white;
    border-radius: 7px;
    margin-top: 10px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.back {
  display: inline-block;
  margin-top: 60px;
  font-size: 80%;
}

.gallery :global {
  margin-bottom: 60px;

  .galleryInner {
    position: relative;
  }

  .galleryImage {
    max-width: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    > img {
      position: absolute;
      width: 100%;
      max-width: 100vw;
    }

    .dummy {
      opacity: 0;
      visibility: hidden;

      img {
        max-width: 100%;
      }
    }
  }

  .next,
  .prev {
    top: calc(50% - 20px);
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
    transition: all 0.25s cubic-bezier(0.455, 0.030, 0.515, 0.955);

    &:hover {
      color: black;
      background: white;
    }
  }

  .next {
    right: -20px;
  }

  .prev {
    left: -20px;
    transform: scale(-1);
  }
}