@import '../styles/variables.scss';

 .terminalButton {
  font-family: 'Courier New', monospace;
  position: fixed;
  display: inline-block;
  bottom: calc($gutter - 8px);
  right: $gutter;
  cursor: $cursorPointer;
  color: white;

  &:hover {
    color: #00ff00;
  }

  @include mobile-only {
    display: none;
  }
}

.terminalOverlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  color: white;

  z-index: 1000;
  font-family: monospace;
  height: 100vh;
}

.terminalBody {
  height: 100%;
  overflow-y: auto;
  padding: 10px;

  * {
    font-family: 'Courier New', monospace;
    font-size: 14px;
    letter-spacing: 1px;
    color: #00ff00;
  }
}

.terminalForm {
  display: flex;
  align-items: center;
}

.prompt {
  margin-right: 5px;
}

.terminalInput {
  background: transparent;
  word-wrap: break-word;
  word-break: break-word;
  border: none;
  outline: none;
  flex-grow: 1;
  position: relative;
  caret-color: inherit;
  caret-shape: block;
}

.terminalOutput {
  white-space: pre-wrap;
}
