.header {
  color: #FF0000;
}

.sectionTitle {
  margin-bottom: 30px;
  margin-top: 80px;
}

.description {
  margin-top: 5px;
  font-size: 90%;
}

.name {
  font-size: 120%;
}

.time {
  margin-top: 5px;
}

.seemore {
  font-size: 80%;
  margin-top: 20px;
  display: inline-block;
}

.list {
  list-style-type: none;
  padding: 0;

  @media screen and (min-width: $mobile) {
    margin-right: 60px;
  }

  .item {
    padding: 30px 30px;
    border-top: 1px dotted rgba(255, 255, 255, 0.25);

    &:first-child {
      border: none;
      // border-bottom: 1px dotted rgba(255, 255, 255, 0.25);
    }
  }
}