@import '../../styles/variables';

.dev {

  ::selection {
    background: transparent;
    color: $green;
  }

  .header {
    color: $green;
  }

  .sectionTitle {
    margin-bottom: 30px;
    margin-top: 80px;
  }

  .description {
    margin-top: 5px;
    font-size: 90%;
  }

  .name {
    font-size: 120%;
  }

  .date {
    margin-top: 5px;
  }

  .seemore {
    font-size: 80%;
    margin-top: 20px;
    display: inline-block;
  }

  .list {
    list-style-type: none;
    padding: 0;

    @include mobile-up {
      margin-right: 60px;
    }

    .item {
      transition: 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      position: relative;
      border-top: 1px dotted rgba(255, 255, 255, 0.25);
      margin-bottom: 0;

      a {
        display: block;
        padding: 30px 30px;
      }

      &:before {
        content: "";
        position: absolute;
        background-image: url('../../public/svg/arrow.svg');
        width: 24px;
        height: 24px;
        right: 30px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg); // Initial rotation
        opacity: 0;
        transition: transform 0.1s 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955), opacity 0.1s 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      }

      &:hover {
        background: $green;

        .name, .description {
          color: black;
        }

        &:before {
          opacity: 1;
          transform: translateY(-50%) rotate(0deg); // Rotate back to 0 degrees
        }
      }
    }
  }
}