@font-face {
  font-family: 'GT America Mono';
  src: url('../asset/fonts/GTAmericaMono-Bold.woff2') format('woff2'),
      url('../asset/fonts/GTAmericaMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Mono';
  src: url('../asset/fonts/GTAmericaMono-BoldItalic.woff2') format('woff2'),
      url('../asset/fonts/GTAmericaMono-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Mono';
  src: url('../asset/fonts/GTAmericaMono-Regular.woff2') format('woff2'),
      url('../asset/fonts/GTAmericaMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Mono';
  src: url('../asset/fonts/GTAmericaMono-RegularItalic.woff2') format('woff2'),
      url('../asset/fonts/GTAmericaMono-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: "GT America Mono", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: white;
  background: #1E1D1F;
}

* {
  box-sizing: border-box;
}

a {
  color: #00DAC6;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


img {
  max-width: 100%;
  display: block;
}