@import 'variables';

* {
  box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
* {
  scrollbar-width: 10px;
  scrollbar-color: rgba(94, 94, 94, 0.407) rgba(94, 94, 94, 0.407);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(94, 94, 94, 0.407);
  border-radius: 0px;
  border: none;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  overflow-y: scroll;
  background-color: $colorBackground;
  color: white;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;

  &.noscroll {
    position: sticky;
    overflow: hidden;
  }
}

a {
  position: relative;
  color: #fff;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  &.underline {
    &::before {
      transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      background-color: white;
      transform: scaleX(1);
      transform-origin: left;
    }
    @media (hover: hover) {
      &:hover::before {
        transform: scaleX(0);
      }
    }
  }

  @media (hover: hover) {
    &:not(.btn, .underline):hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
}

.btn {
  border: 1px solid white;
  display: inline-block;
  padding: 10px;
  transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  border-radius: 2px;
  // -webkit-backface-visibility: hidden;

  &:hover {
    color: black;
    background: white;
  }
}

h1,
h2,
h3 {
  font-family: var(--rhode-font), sans-serif;
  font-weight: normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@include mobile-only {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.1em;
  }
}

li {
  margin-bottom: 1em;
}

p, li {
  line-height: 175%;

  @include mobile-only {
    font-size: 80%;
  }
}

.wrapper {
  position: relative;
  padding: 240px ($gutter * 2) 200px $gutter;
  width: 75%;
  max-width: 960px;

  @include tablet-landscape-only {
    padding-top: 160px;
  }

  @media screen and (max-height: 768px) {
    padding-top: 120px;
  }

  @include mobile-only {
    padding: 120px 20px 100px 20px;
    width: 100%;
  }

  &.intro {
    h1 {
      margin: 0;
    }

    h2 {
      margin-top: 10px;
      font-size: 16px;
    }

    p {
      margin-top: 30px;
    }

    .btn {
      margin-top: 60px;

      @include mobile-only {
        margin-top: 20px;
        font-size: 80%;
      }
    }
  }
}

.badge {
  pointer-events: none;
  font-family: var(--rhode-font), sans-serif;
  position: fixed;
  writing-mode: vertical-rl;
  right: $gutter;
  transform: translateY(-50%);
  font-size: 75%;
  letter-spacing: 1px;
  top: 50%;

  @include mobile-only {
    display: none;
  }
}

#header,
#footer {
  transition: opacity 0.25s;
}

.hidden {
  opacity: 0;
}

::selection {
  color: black;
  background: white;
}

.error {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  position: absolute;
  color: white;
  top: $gutter;
  left: $gutter;

  @include mobile-only {
    top: $gutter-mobile;
    left: $gutter-mobile;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}
