$red: #ff0000;
$green: #00ff00;
$blue: #00aeff;
$yellow: #ffff00;
$magenta: #ff00ff;

$gutter: 60px;
$gutter-mobile: 20px;

$mobile: 800px;
$tablet: 1180px;
$laptop: 1280px;
$desktop: 1920px;

$colorBackground: #000;

@mixin mobile-only {
  @media screen and (max-width: ($mobile - 1px)) {
    @content;
  }
}
@mixin mobile-up {
  @media screen and (min-width: $mobile) {
    @content;
  }
}
@mixin tablet-landscape-only {
  @media screen and (min-width: $mobile) and (max-width: ($tablet)) and (orientation: landscape) {
    @content;
  }
}
@mixin laptop-up {
  @media screen and (min-width: $laptop) {
    @content;
  }
}
@mixin desktop-up {
  @media screen and (min-width: $desktop) {
    @content;
  }
}
