@import "../../styles/variables";

.background {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  animation: fadeInAnimation forwards cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s 1;

  div {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
}

.sections {
  position: relative;
  width: 100vw;
  height: 100vh;

  > div {
    position: absolute;
  }

  h1 {
    @include mobile-only {
      font-size: 1.5rem;
    }
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 50%;

    @include mobile-only {
      max-width: 50%;
      font-size: 0.8rem;
    }
  }

  p {
    max-width: 50%;

    span {
      color: black;
      background-color: #ffffffde;
      box-shadow:
        0.5rem 0px 0px #ffffffde,
        -0.5rem 0px 0px #ffffffde;
      -webkit-box-decoration-break: clone;
      -moz-box-decoration-break: clone;
      box-decoration-break: clone;
    }

    @include mobile-only {
      max-width: 75%;
    }
  }
}

.intro {
  top: 25vh;
  left: 15vw;

  @include mobile-only {
    top: 15vh;
  }
}

.info {
  top: 50vh;
  left: 15vw;

  @include mobile-only {
    top: 125vh;
  }
}

.dev {
  top: 50vh;
  left: 30vw;

  @include mobile-only {
    top: 20vh;
    left: 15vw;
  }
}

.art {
  width: auto;
  top: 40vh;
  right: 15vw;

  @include mobile-only {
    top: 20vh;
    right: 0;
  }
}

.disableScroll {
  canvas + div {
    overflow: hidden !important;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
